body{
    background-color: #CFE8EF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    margin-top: 20px;
    padding: 15px;
    background-color: #C6DBF0;
    border-radius: 15px;
}

.heading{
    font-size: 1.3rem;
    cursor: pointer;
}

.quickbuttons{
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 10px;
}

.headerbuttons{
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    transition: 0.4s ease;
}

.headerbuttons:hover{
    background-color: #A0C4E2;
    padding: 10px;
}

.main-container{
    background-color: #AED1E6;
    padding: 20px;
    border-radius: 15px;
    margin-top: 20px;
}

.myinfo{
    display: flex;
    background-color: #C6DBF0;
    justify-content: center;
    width: 100%;
    align-items: end;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 15px;
}

.category-heading{
    padding: 15px;
    background-color: #A0C4E2;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 1.2rem;
}

.categorised-dish{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.dish-card{
    max-width: 15%;
    display: flex;
    flex-direction: column;
    background-color: #85C7DE;
    padding: 15px;
    cursor: pointer;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease;
}

@media (max-width: 768px){
    .dish-card{
        max-width: 50%;
    }
}

.dish-card:hover{
    transform: scale(1.01);
    box-shadow: 2px 2px 20px #94bfe1;
}

.dishpreview{
    width: 100%;
    border-radius: 10px;
}

.dishname{
    color: black;
    font: bold;
    font-size: 1.2rem;
}

.dishdetails{
    text-align: center;
}

.img-and-name{
    background-color: #C6DBF0;
    padding: 15px;
    border-radius: 15px;
}

.page-dishpreviewbox{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-dishpreview{
    border-radius: 20px;
    max-width: 90%;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: 0 0 20px 10px #94bfe1;
    /* border-radius: 15px; */
}

.page-dishname{
    margin: 15px;
    font-size: 1.3rem;
    background-color: #85C7DE;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.dish-info-headings{
    font: bold;
    text-decoration: underline;
    padding-bottom: 15px;
    padding-top: 10px;
    background-color: #85C7DE;
    border-radius: 10px;
    font-size: 1.2rem;
}

.page-dish-details{
    display: flex;
    flex-direction: column;
    margin: 10px;
    text-align: center;
    background-color: #C6DBF0;
    padding: 10px;
    border-radius: 15px;
}

.page-dish-ingredients{
    display: flex;
    flex-direction: column;
    margin: 10px;
    text-align: center;
    background-color: #C6DBF0;
    padding: 10px;
    border-radius: 15px;
}

.dish-ingredients{
    text-align: left;
}

li{
    padding-bottom: 10px;
}

.page-dish-instructions{
    display: flex;
    flex-direction: column;
    margin: 10px;
    text-align: center;
    background-color: #C6DBF0;
    padding: 10px;
    border-radius: 15px;   
}

.dish-instructions{
    text-align: left;
}